<!-- ====== Back To Top Start -->
<a
  href="javascript:void(0)"
  id="backToTop"
  class="back-to-top fixed bottom-8 right-8 left-auto z-[999] hidden h-10 w-10 items-center justify-center rounded-md bg-lime-500 text-white shadow-md transition duration-300 ease-in-out hover:bg-lime-600"
>
  <span
    class="mt-[6px] h-3 w-3 rotate-45 border-t border-l border-white"
  ></span>
</a>


<!-- ====== Back To Top End -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const backToTop = document.getElementById("backToTop");
    
    if (backToTop) {
      window.addEventListener('scroll', () => {
        if (window.scrollY > 100) {
          backToTop.classList.remove('hidden');
          backToTop.classList.add('flex');
        } else {
          backToTop.classList.remove('flex');
          backToTop.classList.add('hidden');
        }
      });

      backToTop.addEventListener('click', () => {
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });
    }
  });
</script>