<div class="fixed bottom-8 left-4 sm:left-9 z-[999]">
  <a
    href="tel:+918285362996"
    class="relative inline-flex items-center gap-[10px] py-2 px-[14px] rounded-lg z-10
      before:absolute before:inset-0 before:rounded-lg before:-z-[1]
      before:bg-[linear-gradient(90deg,#488cfb,#29dbbc,#ddf505,#ff9f0e,#e440bb,#655adc,#488cfb)]
      before:bg-[length:200%_auto] before:animate-borderAnimation
      after:absolute after:inset-[2px] after:rounded-[6px] after:bg-[#00ff00] after:-z-[1] dark:after:bg-dark-2"
  >
  <img src="/icons/call.svg" alt="Call Icon" class="w-5 h-5" />
    <span
      class="relative z-10 text-white font-medium text-base dark:text-dark-6"
      >
      अभी कॉल करें
    </span>

  </a>
</div>
