---

import Hero from "@/components/section/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Treatment from "@/components/section/Treatment.astro";
import "../styles/custom.css";
import "../styles/globals.css";
import FAQs from "@/components/section/FAQs.astro";
import Footer from "@/components/section/Footer.astro";
import WhyAnmol from "@/components/section/WhyAnmol.astro";
import About from "@/components/section/About.astro";
import RehabShowacase from "@/components/section/RehabShowcase.astro"
import  Testimonial  from '@/components/section/Testimonial.astro'
import '@/styles/globals.css'
import VideoShowcase from "@/components/section/VideoShowcase.astro";
---

<Layout title="Anmol Jeevan Foundation">
  <main class="flex flex-col gap-y-4 md:gap-y-8 overflow-hidden">
    <Hero />
    <!-- <Feature /> -->
    <Treatment />
    <WhyAnmol />
  
    <About />
  <RehabShowacase/>
    <FAQs />
    <VideoShowcase/>
    <Testimonial/>
    <Footer />
  </main>
</Layout>
